Django>=5.2
drf-spectacular
django-environ
psycopg[binary]
djangorestframework
django-fsm
pydantic
httpx
celery[redis]
django-htmx
django-redis>=5.4.0
redis>=5.0.0
django-widget-tweaks
pytest-django
gunicorn
pytest-django
pytest-mock
pytest-cov