<form hx-post="{% url 'web:client_create' tenant.slug %}" class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="col-span-1">
        <label>Tipo de Doc.</label>
        <select name="doc_type" class="w-full border-gray-300 rounded-lg p-2">
            <option value="DNI">DNI</option>
            <option value="RUC">RUC</option>
            <option value="CE">Carnet Extranjería</option>
        </select>
    </div>

    <div class="col-span-1">
        <label>Número</label>
        <input type="text" name="document" 
               hx-get="{% url 'web:validate_identity' tenant.slug %}"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#client-status"
               class="w-full border-gray-300 rounded-lg p-2">
        <div id="client-status"></div>
    </div>

    <div class="col-span-2">
        <label>Nombre / Razón Social</label>
        <input type="text" name="name" class="w-full border-gray-300 rounded-lg p-2">
    </div>
</form>